body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  background-color: #f4f6f9;
}

.main-content {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #333;
  padding-top: 70px;
  flex-grow: 1;
  background-color: #f4f6f9;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-container h1 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.portfolio-container p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.actions-container {
  display: flex;
  align-items: center; /* Центрирует элементы по вертикали */
  justify-content: space-between; /* Размещает элементы по разным сторонам */
  margin-bottom: 15px; /* Отступ снизу */
}

.transaction-table {
  width: 100%;

}

.filter-options {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.custom-date-filter {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

mat-form-field {
  flex: 1;
  min-width: 200px;
}

#dateFilter {
  width: 150px;
}

button, label, option, select {
  font-size: 18px;
}

th {
  font-size: 18px;
  font-weight: bold;
}

.custom-dialog-container {
  width: 20vw;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.custom-dialog-container .mat-dialog-content {
  overflow: auto;
  flex-grow: 1;
  padding: 16px;
}

.custom-dialog-container .mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px;
}





